.image-desc {
  position: absolute;
  bottom: 22px;
  left: 20px;
  max-width: 160px;
}

.image-desc h5 {
  font-family: 'Archivo', sans-serif !important;
  font-size: 1.6rem;
  font-weight: 700 !important;
}

.image-desc p {
  font-family: 'Archivo', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: .7px;
}